/*.exploreMain {
  background: linear-gradient(to right, #0fb8ad, #2cb5e8);
}*/

.exploreMain {
	margin:0;
	padding:0;
  margin-top: -18px;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
  background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
}

.exploreNav {
  position: absolute;
  text-align: right;
  width: 100%;
}

.exploreButton {
  text-align: center;
  font-size: 15px;
  background: #e74c3c;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 170px;
  color: white;
  border: 1px solid black;
  font-family: Ubuntu;
  border-radius: 25px;
  cursor: pointer;
}

.save-button {
  text-align: center;
  font-size: 15px;
  background: #e74c3c;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
  color: white;
  border: 1px solid black;
  font-family: Ubuntu;
  border-radius: 25px;
  cursor: pointer;
}

.newSuggestionButton {
  text-align: center;
  font-size: 15px;
  background: #e74c3c;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 130px;
  color: white;
  border: 1px solid black;
  font-family: Ubuntu;
  border-radius: 25px;
  cursor: pointer;
}

.add-note-form {
	padding-top: 10px;
}

.save-button {
  margin-bottom: 15px;
}

.exploreHeader {
  padding-top: 15px;
  margin-bottom: 5px;
}

.note-text {
	height: 25px;
  font-size: 15px;
  font-family: Ubuntu;
  width: 15%;
	padding-left: 3px;
}

.noteAdd {
  background: #e74c3c;
  color: white;
  font-family: Ubuntu;
  border: 1px solid black;
  cursor: pointer;
	height: 32px;
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

h1, h2, li, h3 {
  font-family: "Whitney Cond A", "Whitney Cond B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-weight: 700;
  color: white;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
{
  .exploreHeader {
    padding-top: 50px;
  }

  .notes {
    position: absolute;
    left: 3%;
  }

  .logoutButton {
    position: absolute;
    left: 50%;
  }

	.note-text {
	  font-size: 15px;
	  font-family: Ubuntu;
		padding-left: 3px;
		width: 50%;
	}


}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 439px) {

		.exploreHeader {
			padding-top: 100px;
		}

		.notes {
			position: absolute;
			left: 0;
			width: 150px;
		}

		.logoutButton {
			position: absolute;
			right: 0;
			width: 150px;
			height: 56px;
		}

		.note-text {
		  font-size: 15px;
		  font-family: Ubuntu;
			padding-left: 3px;
			width: 50%;
		}

	}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 439px) {

		.exploreHeader {
			padding-top: 100px;
		}

		.notes {
			position: absolute;
			left: 9%;
			width: 150px;
		}

		.logoutButton {
			position: absolute;
			right: 0;
			width: 150px;
		}

		.note-text {
		  font-size: 15px;
		  font-family: Ubuntu;
			padding-left: 3px;
			width: 50%;
		}
	}

@media only screen
	and (min-device-width: 425px)
	and (max-device-width: 439px) {

		.notes {
			position: absolute;
			left: 12%;
			width: 150px;
		}
	}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.note-text {
		font-size: 15px;
		font-family: Ubuntu;
		padding-left: 3px;
		width: 30%;
	}
}

@media only screen
	and (min-device-width: 768px)
	and (min-device-height: 439px) {

		.exploreHeader {
			padding-top: 50px;
		}
	}
