.container {
  background-color: #0072CE;
  width: 100% !important;
  height: 100vh;
  font-family: 'Roboto Slab';
  font-weight: bold;
}

.homeButton {
  float: right;
  position: absolute;
  right: 27%;
  text-align: center;
  font-size: 20px;
  background: #FFFF00;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
}

.learnButton {
  float: right;
  position: absolute;
  right: 18%;
  text-align: center;
  font-size: 20px;
  background: #FFFF00;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
}

.registerButton {
  float: right;
  position: absolute;
  right: 9%;
  text-align: center;
  font-size: 20px;
  background: #FFFF00;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
}

.loginButton {
  float: right;
  position: absolute;
  right: 0%;
  text-align: center;
  font-size: 20px;
  background: #FFFF00;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
}

.get-started {
  background: #FFFF00;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  top: 97%;
  width: 150px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.mentor-explore {
  background: #FFFF00;
  color: black;
  border-radius: 25px;
  border: 1px solid black;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.logo {
  position: absolute;
  left: 2%;
  top: 0;
  color: #FFFF00;
}

.main-intro {
  font-family: 'Roboto Slab';
  font-weight: bold;
  padding-top: 100px;
  color: #FFFF00;
}

.motto {
  font-size: 50px;
  font-weight: bold;
}

.logo-row {
  padding-top: 35px;
}

.skill-logos {
  margin-right: 5px;
}

.general-summary {
  text-align: center;
  padding: 0;
}

.help-examples {
  text-align: center;
  padding: 70px 0;
  padding-top: 35px;
}

#summary-sections {
  display: inline-block;
  background: #FFFF00;
  width: 100% !important;
}

.callout {
  display: inline-block;
}

.skill-suggestion {
  /*display: inline-block;*/
}

.typewriter {
  display: inline-block;
}

.subheader {
  font-size: 20px;
}

.header {
  font-size: 35px;
}

.footer-links {
  display: inline-block;
  color: #FFFF00;
  margin-top: 10px;
  margin-right: 16px;
}

/* Media Queries */

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .help-examples {
    background-color: #0072CE;
  }

  .general-summary {
    background-color: #0072CE;
  }

  .logo {
    padding-top: 40px;
  }

  .homeButton {
    left: 0;
    width: 100px;
  }

  .learnButton {
    left: 24%;
    width: 100px;
  }

  .registerButton {
    left: 49%;
    width: 100px;
  }

  .loginButton {
    width: 100px;
  }

  .mentor-explore {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .motto {
    font-size: 45px;
  }

  .logo-row {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    background-color: #0072CE;
  }
}
