.mainNav {
  float: right;
  text-align: right;
  width: 100%;
}

.homeButton {
  float: right;
  position: absolute;
  right: 20%;
  text-align: center;
  font-size: 20px;
  background: #e74c3c;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  color: white;
  border: 1px solid black;
  font-family: Ubuntu;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
}

.registerButton {
  float: right;
  position: absolute;
  right: 10%;
  text-align: center;
  font-size: 20px;
  background: #e74c3c;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  color: white;
  border: 1px solid black;
  font-family: Ubuntu;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
}

.loginButton {
  float: right;
  position: absolute;
  right: 0%;
  text-align: center;
  font-size: 20px;
  background: #e74c3c;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  color: white;
  border: 1px solid black;
  font-family: Ubuntu;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
}

.getStarted {
  background: #e74c3c;
  color: white;
  border: 1px solid black;
  font-family: Ubuntu;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  top: 55%;
  width: 150px;
  height: 40px;
  font-family: Ubuntu;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.container {
  background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
  -webkit-animation: 10s linear 0s normal none infinite animate;
  -moz-animation: 10s linear 0s normal none infinite animate;
  -ms-animation: 10s linear 0s normal none infinite animate;
  -o-animation: 10s linear 0s normal none infinite animate;
  animation: 10s linear 0s normal none infinite animate;
  }
  @-webkit-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
  }

  @-moz-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
  }

  @-ms-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
  }

  @-o-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
  }

  @keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
  }

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)  {
  .homeButton {
    position: absolute;
    top: 15%;
    left: 0%;
  }

  .registerButton {
    position: absolute;
    top: 15%;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .loginButton {
    position: absolute;
    top: 15%;
    text-align: center;
  }

  .title {
    left: 14%;
    top: 5%;
    z-index: 1;
  }

  .header1 {
    position: absolute;
    padding-top: 5px;
    z-index: 1;
  }

  .header2 {
    position: absolute;
    padding-top: 35px;
    font-size: 15px;
    z-index: 1;
  }

  .header3 {
    position: absolute;
    padding-top: 50px;
    font-size: 15px;
    z-index: 1;
  }

  .getStarted {
    position: absolute;
    top: 65%;
  }

  .container {
    height: 100vh;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
  	-webkit-animation: 10s linear 0s normal none infinite animate;
  	-moz-animation: 10s linear 0s normal none infinite animate;
  	-ms-animation: 10s linear 0s normal none infinite animate;
  	-o-animation: 10s linear 0s normal none infinite animate;
  	animation: 10s linear 0s normal none infinite animate;
  }
  @-webkit-keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  @-moz-keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  @-ms-keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  @-o-keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  @keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  video {
    position: absolute;
    z-index: 0;
    background-size: 100% 100%;
    top: 0px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

}
