.login-form {
  padding-top: 15%;
}

.newUsername, .newPassword {
  margin: 5px;
  height: 20px;
  font-family: Ubuntu;
  border: 1px solid black;
  padding-left: 3px;
}

.submit, .home {
  background: #e74c3c;
  color: white;
  font-family: Ubuntu;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

label {
  color: black;
  font weight: bold;
  font-family: Ubuntu;
}

.demo {
  width: 20%;
  border: 2px solid white;
  position: absolute;
  top: 0;
  right: 0;
}

/*.usernameText, .passwordText {
  display: block;
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}*/

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .submit, .home {
      background-color: #e74c3c;
      border-radius: none;
    }
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width : 480px) {
      .demo {
        position: static;
        width: 100%;
        margin-top: 10px;
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) and (max-width : 768px) {
      .demo {
        position: static;
        width: 100%;
        margin-top: 10px;
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width : 992px) {
      .demo {
        position: static;
        width: 100%;
        margin-top: 10px;
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width : 1200px) {

    }
