.login-form {
  padding-top: 15%;
}

.newUsername, .newPassword {
  margin: 5px;
  height: 20px;
  font-family: Ubuntu;
  border: 1px solid black;
  padding-left: 3px;
}

.submit, .home {
  background: #e74c3c;
  color: white;
  font-family: Ubuntu;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

label {
  color: black;
  font weight: bold;
  font-family: Ubuntu;
}

/*.usernameText, .passwordText {
  display: block;
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}*/

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .submit, .home {
      background-color: #e74c3c;
      border-radius: none;
    }
}
