.usernameText, .passwordText {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #e74c3c;
  border: 1px solid black;
  padding: 5px;
  padding-bottom: 8px;
  width: auto;
}

.registration-form {
  padding-top: 15%;
}

.submit, .home {
  background: #e74c3c;
  color: white;
  font-family: Ubuntu;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

/*.form-container {
  width: 40%;
  height: 40%;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
}*/

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .submit, .home {
      background-color: #e74c3c;
      border-radius: none;
    }
}
